<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.olympus.olympusservices">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SignUp"
            android:label="Sign Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:label="Log In"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome"
            android:label="Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminWelcome"
            android:label="Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsersList"
            android:label="List of Users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminServicesList"
            android:label="List of Services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceProviderWelcome"
            android:label="Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ServiceProviderServicesList"
            android:label="List of Services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceProviderAvailabilities"
            android:label="Availabilities"
            android:screenOrientation="portrait" />
        <activity android:name=".SignUpPart2" />
        <activity android:name=".ServiceProviderBookings" />
        <activity android:name=".HomeOwnerBookings" />
        <activity android:name=".FindServiceProvider" />
        <activity android:name=".MakeBooking"></activity>
    </application>

</manifest>